.div1{
    width: 40%;
    float: left;
    padding-left: 5%;
    margin-top: 4%;
    clear: both;
}
.div2{
    width: 60%;
    float:left ;
    padding: 3%;
    margin-top: 5%;
    text-align: center;
    
    
}
img{
    border-radius: 10px;
    width: 340px;
    height: 300px;
}
header{
    background-color: grey;
    border-radius: 4px;
    text-align: center;
    border: 2px solid black;
}
.div3{
    width: 40%;
    float: right;
    padding-right: 5%;
    margin-top: 5%;
    clear: both;

}
.div4{
    width: 60%;
    float: left ;
    padding: 3%;
    margin-top: 10%;
    text-align: center;
    
}


